
# Model Choice
LLM_MODEL = gemini-2.5-flash-lite

# LLM Provider : GOOGLE | ANTHROPIC | OPENAI
LLM_PROVIDER = GOOGLE

# Discord
DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=

# LLM Provider Keys
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=

# Tool Keys
BRAVE_API_KEY=
JINA_API_KEY=

# Customization
BOT_PERSONALITY=
